<template name="app_header">
    <div class="page-header full-content">
        <div class="row">
            <div class="col-sm-6">
                <h1>{{title}} <small>{{description}}</small></h1>
            </div><!--.col-->
            <div class="col-sm-6">
                <ol class="breadcrumb">
                    <li><a href="#"><i class="ion-home"></i></a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#" class="active">Blank Page</a></li>
                </ol>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.page-header-->
</template>

<template name="app_footer">
    <div class="footer-links margin-top-40">
        <div class="row no-gutters">
            <div class="col-xs-6 bg-indigo">
                <a href="pages-timeline.html">
                    <span class="state">Pages</span>
                    <span>Timeline</span>
                    <span class="icon"><i class="ion-android-arrow-back"></i></span>
                </a>
            </div><!--.col-->
            <div class="col-xs-6 bg-cyan">
                <a href="components-offline-detector.html">
                    <span class="state">Components</span>
                    <span>Offline Detector</span>
                    <span class="icon"><i class="ion-android-arrow-forward"></i></span>
                </a>
            </div><!--.col-->
        </div><!--.row-->
    </div><!--.footer-links-->
</template>
