<template name="light_card">
    <div class="col-md-3 grid-item">
        <div class="card card-white card-image card-bg-icon bg-image" style="background-image: url({{icon modelid}})">

            <div class="card-action">
                <a href="javascript:;"><i class="ion-android-options text-black"></i></a>
            </div><!--.card-action-->

            <div class="context">
                <span class="text-title">{{name}}</span>
            </div>

        </div><!--.card-->
    </div><!--.col-->
</template>
