<template name="light_card">
    <div class="col-md-3 grid-item">
        <div class="card card-white card-image bg-image">

            <div class="card-action">
                <a href="javascript:;"><i class="ion-android-options text-black"></i></a>
            </div><!--.card-action-->

            <div class="card-bg-icon-image" style="color: {{lightRGBColor}}">
                <img class="svg" src="{{icon}}" alt="{{modelid}}">
            </div>

            <div class="context">
                <span class="text-title">{{name}}</span>
            </div>

        </div><!--.card-->
    </div><!--.col-->
</template>
